body{font-family: ;
background-color:black;
}
#container{
width:1080px;
margin:0 auto;
padding:1px;
background-color:#white;
}
#navigation{
height:60px;
border: 3px solid #e3e3e3;
margin-top:5px;
background-image: url(../images/news1.jpg);
}

#navigation_history{
height:60px;
border: 3px solid #e3e3e3;
margin-top:5px;
background-image: url(../images/.jpg);
}
ul#navmenu{
list-style-type:none;
font-size:auto
}
ul#navmenu li{
width:200px;
text-align:center;
float:left;
margin-right:4px;
}
ul#navmenu a {
text-decoration:none;
display:block;'
width:250px;
height:30px;
border:1px solid#ccc;
border-radius:5px;
background-color: white;
}
#banner{
height:295px;
background-image:url(../images/background1.jpg);
background-size:cover;
}
#banner_history{
height:295px;
background-image:url(../images/history_background.jpg);
background-size:cover;
}
#banner_music{
height:295px;
background-image:url(../images/Music_background.png);
background-size:cover;
}
#banner_top_billionares{
height:295px;
background-image:url(../images/money_background.jpg);
background-size:cover;
}
#banner_athletes{
height:295px;
background-image:url(../images/sport_background.jpg);
background-size:cover;
}
#content_area{
float:left;
width:750px;
margin:20px 0 20px 0;
padding:10px;
border:3px solid #e3e3e3;
color:white;
}
.imgLeft{
float:left;
margin: 0px 10px 10px 0;
padding:5px;:white;
}
.imgRight{
height:0px;
float:left;
margin: 0px 10px 10px 0;
padding:5px;:white;
}
#sidebar{
float:right;
width:250px;
margin:20px 10px 20px 20px;
border: 3px solid #e3e3e3;
text-align: center;
}
#sidebar_history{
float:right;
width:250px;
margin:20px 10px 20px 20px;
border: 3px solid #e3e3e3;
text-align: center;
}
#sidebar_music{
float:right;
width:250px;
margin:20px 10px 20px 20px;
border: 3px solid #e3e3e3;
text-align: center;
}
#sidebar_top_billionares{
float:right;
width:250px;
margin:20px 10px 20px 20px;
border: 3px solid #e3e3e3;
text-align: center;
}
#sidebar_athletes{
float:right;
width:250px;
margin:20px 10px 20px 20px;
border: 3px solid #e3e3e3;

}
#footer{
	clear:both;
	width:auto;
	height:100px;
	padding:20px;
	color:red;
	text-align: center;
	border:3px solid white;
}